<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>527599954522-m0dtgratke1umgatvl5qmiquqesim9hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527599954522-m0dtgratke1umgatvl5qmiquqesim9hm</string>
	<key>API_KEY</key>
	<string>AIzaSyBNSOlE1cXdW8B73Oo6Qi-FAKanaPkJimI</string>
	<key>GCM_SENDER_ID</key>
	<string>527599954522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>askar.ulubayev.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>movieapp-d1d6b</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-d1d6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527599954522:ios:b77f1485c55bb361</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-d1d6b.firebaseio.com</string>
</dict>
</plist>